<ion-content [fullscreen]="true">
  <div class="login" *ngIf="!seleccionarCompania">
    <form class="custom-form" method="post">
      <h1 class="title">Iniciar sesión</h1>
      <input
        type="text"
        [(ngModel)]="user.usuario"
        name="usuario"
        placeholder="Usuario"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="user.clave"
        name="clave"
        placeholder="Clave"
        required="required"
      />
      <button type="submit" (click)="login()">Ingresar</button>
    </form>
  </div>
  <div class="login" *ngIf="seleccionarCompania">
    <ion-grid  class="custom-form">
      <ion-row justify-content-center>
        <ion-col col-12 col-sm-9 col-md-7 col-lg-6>
          <h2>Seleccione un negocio</h2>
          <button ion-item color="primary" *ngFor="let item of companiasAcesso; let i = index" (click)="ingresarEnCompania(item.obj)">
            {{ item.nombre }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
