  .colorRed {
    background-color: #d59595;
    border-radius: 50%;
    padding:12px;
    margin-top:-10px;
}

.colorNaranja {
    background-color: #f1a391;
    border-radius: 50%;
    padding:12px;
    margin-top:-10px;
}

.colorAzul {
    background-color: #4c5085;
    border-radius: 50%;
    padding:12px;
    margin-top:-10px;
}

.colorVerde {
    background-color: #155e52;
    border-radius: 50%;
    padding:12px;
    margin-top:-10px;
}

.colorClaro {
    background-color: #297796;
    border-radius: 50%;
    padding:12px;
    margin-top:-10px;
}

.colorGris {
    background-color: #8f8a8a;
    border-radius: 50%;
    padding:12px;
    margin-top:-10px;
}

ion-card-content {
    height: 80px !important;
}

.azul {
    background-color: rgb(47, 62, 158);
    color: white;
}

.red {
    background-color: rgb(210, 46, 46);
    color: white;
}

.green {
    background-color: rgb(55, 141, 59);
    color: white;
}

.greenClear {
    background-color: rgb(0, 150, 166);
    color: white;
}

.gray {
    background-color: rgb(96, 96, 96);
    color: white; 
}

.orange {
    background-color: #fb6340;
    color: white; 
}
.data-scroll {
    background-color: rgb(218, 212, 212);
    width:100%;
    height: 50%;
}
.data-scrollproducto {

    background-color: #436d6e;
    width:100%;
    height: 100%;
}
.data-table {
    min-width: 800px;
}

.end{
    float:right;
    padding:22px;
    margin-top:-10px;
}

.carrito-numero{
    position: absolute;
    top: -3px;
    left: 5px;
    color:white;
    background-color:#e44d12ea; 
    text-align: left;
}

ion-header {
    height: 54px;
    margin-bottom: 0px;
    position:fixed;
}

.header{
    font-size: 12px;
    height: 54px;
    background-color: #262626 !important;
    z-index: 100;
    line-height: 54px;
    margin-bottom: 0px;
}

.icon {
    color: white;
}

.title {
    color: white;
}
.img-name-row {
    text-align: center;
    .user-img {
      max-width: 100%;
      height:40px;
      border: 3px solid #0b055f;
      border-radius: 50%;
      margin-bottom: 0px;
    }
  }

@media screen and (max-width: 991px) and (min-width: 576px) {
    ion-icon {
        display: none;
    }
    .icon {
        display: block;
    }
    ion-card-content {
        display: none;
    }
}
.img-name-row {
    text-align: center;
    .user-img {
      max-width: 100%;
      height:40px;
      border: 3px solid #0b055f;
      border-radius: 50%;
    }
  }
  @media screen and (max-width: 991px) {
    .title {
      font-size: 25px;
    }
}
