      <ion-header >
        <ion-toolbar style="margin-top:0px !important">
          <div class="header" color="primary">
            <ion-buttons end>
              <div class="img-name-row">
                <ion-col>
                    <img class="user-img" src="{{imageUrl}}">
                </ion-col>
              </div> 
              <ion-title class="title text-center">{{title}}</ion-title>
              <ion-icon class="icon" style="zoom:2.0; float:right; margin-right:8px; cursor:pointer;" name="notifications-outline"></ion-icon>
              <!-- <ion-icon *ngIf="!auth.isLoggedIn" (click)="login()" class="icon" style="zoom:2.0; float:right; margin-right:8px; cursor:pointer;" name="log-in"></ion-icon>
              <ion-icon *ngIf="auth.isLoggedIn" (click)="cerrarSession()" class="icon" style="zoom:2.0; float:right; margin-right:8px; cursor:pointer;" name="log-out"></ion-icon>
             -->
            </ion-buttons>
        </div>
        </ion-toolbar>
        </ion-header>
        <app-side-bar></app-side-bar> 
      <ion-router-outlet></ion-router-outlet>
