<mat-sidenav-container *ngIf="auth.isLoggedIn" class="full-height" autosize="true">
    <mat-sidenav class="header" mode="side" opened (click)="toggleSidebar()">
        
        <div mat-menu-item (click)="toggleSidebar()" class="with-icon padded">
            <ion-icon matTooltip="toggle menu" (click)="toggleSidebar()"  class="icon" style="zoom:2.0; float:right; margin-right:2px; cursor:pointer;" name="expand">
            </ion-icon>
        </div> 

        <div mat-menu-item *ngFor="let i of sideMenu" [routerLink]="['/', i.route]" class="with-icon padded" (click)="$event.stopPropagation()">
            <ion-icon [matTooltip]="i.toolTip" class="icon" style="zoom:2.0; float:right; margin-right:2px; cursor:pointer;" [name]="i.icon">
            </ion-icon>
            &nbsp;
            <span class="icon" [hidden]="collapse">{{ i.name }}</span>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="padded">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>