.full-height {
    height: 100%;
}

.padded {
    padding: 10px;
}

.with-icon {
    display: flex;
    align-items: center;
}

.header {
    background-color: #262626 !important;
    margin-top:45px !important;
}

.icon {
    color: white;
}