.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  
    .contenedor-formulario {
      width: 400px;
    }
  
    .download {
      background: #1081ff;
      color: #FFFFFF;
      padding: 10px 20px;
      margin-bottom: 20px;
      a {
        text-decoration: underline;
        color: #FFFFFF;
      }
    }
  }

  .posicionInicial {
    margin-top: 1px !important;
  }
  .seleccionarImagenBoton {
    background: #012be6;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    a {
      text-decoration: underline;
      color: #FFFFFF;
    }
  }

  .seleccionarImagenBoton:hover {
    background: rgb(74, 11, 146);
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    a {
      text-decoration: underline;
      color: #FFFFFF;
    }
  }

  .img {
    -o-object-fit: cover;
    object-fit: cover;
    cursor:pointer;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 300px;
  }

  .carta-box {
    width: 200px;
    height: 250px;
    position: relative;
    perspective: 1000px;
    border-radius: 12px;
    object-fit: initial !important;
    padding-bottom: 2px;
    text-align: center;
  }
  
  .carta-box:hover .carta {
      transform: rotateY(180deg);
      border-radius: 12px;
  }
  
  .carta {
    transform-style: preserve-3d;
    transition: all 1s linear;
  }
  
  .cara {
    position: absolute;
    // backface-visibility: hidden;
  }
  
  .cara.detras {
    transform: rotateY(180deg);
  }

  .num {
    background-color: rgb(20, 12, 27);
    padding-top: 6px;
    padding-bottom: 6px;
    top: -2px;
    position: relative;
}
.colores{
    background-color:#1F7C22 !important;
    border: 10px solid rgb(6, 59, 9);
    padding: 10px;
              
}
.coloresDos{
    background-color: #F52525 !important;
    border: 10px solid rgb(83, 7, 4);
    padding: 10px;
               
}
.coloresTres{
    background-color:#254DF5 !important;
    border: 10px solid rgb(16, 9, 80);
    padding: 10px;
                  
}    
.coloresCuatro{
    background-color: #A20EBF !important;
    border: 10px solid rgb(46, 8, 43);
    padding: 10px;
            
}
.coloresCinco{
    background-color: #E6F226 !important;
    border: 10px solid rgb(93, 112, 8);
    padding: 10px;
    
}
@media screen and (max-width: 700px) {
.card-md{
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    }
.div {
    position: relative;
    text-align: center;
    padding-bottom:180px;
    height: 45px;
  }
  .divinicio{
    height: 295px;        
    position: relative;
    text-align: center;
    padding-bottom:180px;

  }
  ion-card img{
    max-height: 140px;
  }
  .avatar {
    min-height: 45px;
    max-height: 90px;
  }
.pafn{
    text-align: center;
    font-size: 35px;
}
.tam{
    min-height: 45px;
    max-height: 90px;
}
.num {
    background-color: rgb(20, 12, 27);
    padding-top: 6px;
    padding-bottom: 6px;
    top: -2px;
    position: relative;
}
.colores{
    background-color:#1F7C22 !important;
    border: 10px solid rgb(6, 59, 9);
    padding: 10px;
              
}
.coloresDos{
    background-color: #F52525 !important;
    border: 10px solid rgb(83, 7, 4);
    padding: 10px;
               
}
.coloresTres{
    background-color:#254DF5 !important;
    border: 10px solid rgb(16, 9, 80);
    padding: 10px;
                  
}    
.coloresCuatro{
    background-color: #A20EBF !important;
    border: 10px solid rgb(46, 8, 43);
    padding: 10px;
            
}
.coloresCinco{
    background-color: #E6F226 !important;
    border: 10px solid rgb(93, 112, 8);
    padding: 10px;
    
}
}

ion-icon {
  color: rgb(16, 9, 80);
  font-size: 34px;
}

.seleccionarImagenBotonIcon {
  color: #FFFFFF;
  border-radius: 12px;
  margin-bottom: 4px;
  margin-right: 4px;
  a {
    text-decoration: underline;
    color: #FFFFFF;
  }
}

.seleccionarImagenBotonIcon:hover {
  background: rgb(204, 202, 206);
  color: #FFFFFF;
  border-radius: 12px;
  margin-bottom: 4px;
  a {
    text-decoration: underline;
    color: #FFFFFF;
  }
}

.iconos {
  display: flex;
}
ion-card img {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100% !important;
}
.delete{
  margin-left: 45px;
  margin-top: 10px; 
}
.favCard{
  width: 320px;
  height: 230px;
  border-radius: 10px;
  box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.75);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 90px;
  overflow: visible;
}
.info{
  z-index: 9;
  border-radius: 50px;
  -webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
  margin-top: -12%;
  z-index: 3;
  position: absolute;
  margin-left: 50px;
  width: 220px;
  background-color: white;
}