<ion-header>
  <ion-toolbar>
    <ion-title>Guardar card</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="row">
      <div class="col-sm">
        <!-- <ion-card   class="blue" style="cursor: pointer;">
          <ion-card-content> -->
            <div  *ngIf="guardando" class="file has-name is-boxed">
              <div  >
                <ion-input type="text" id="inputafn" [(ngModel)]="nombreEspanol" placeholder="Nombre en español" ></ion-input>   
                <ion-input type="text" id="inputafn" [(ngModel)]="nombreIngles" placeholder="Nombre en ingles" ></ion-input>
                <ion-input type="text" id="inputafn" [(ngModel)]="descripcionIngles" placeholder="Pronunciación en ingles" ></ion-input>
                <ion-input type="text" id="inputafn" [(ngModel)]="descripcionEspanol" placeholder="Asociación inverosímil" ></ion-input>
              </div>
              <label *ngIf="guardando" class="file-label">
                <input class="seleccionarImagenBoton file-input" type="file" formControlName="archivo" (change)="cambioArchivo($event)">
                <span class="file-cta">
                  <span class="file-label">
                    Elegir un audio
                  </span>
                </span>
                <span class="file-name">
                  {{ mensajeArchivo }}
                </span>
              </label>
  
          <ion-list>
          
          </ion-list>
  
        </div>
        <hr>
      
      <form [formGroup]="archivoForm" (ngSubmit)="subirArchivoAllImagen()">

      <ion-card class="favCard carta-box" (click)="voltiarImagenEvent()">
        <div class="carta img">
          <div class="cara img">
            <img *ngIf="imagen!== undefined" src="{{imagen}}" width="200" #imagenProducto height="250px">
          </div>
          <div class="cara img">
            <img *ngIf="imagen=== undefined" src="{{imagenTemp}}" width="200" #imagenProducto height="250px">
          </div>
        </div>
        
        <ion-card-content expand="block" class="info">
          <h2 class="name">{{ nombreIngles }} - {{ nombreEspanol }}</h2>
         
        </ion-card-content>


    </ion-card> 



        <div *ngIf="guardando" class="file has-name is-boxed">
            
              <ion-item>
             
                <input type="file" (change)="fileUpload($event)"  id="file-input" style="opacity: 0; text-align:center;margin-top:12px" #fileInp>
                <button ion-button class="seleccionarImagenBoton" (click)="onClick()">Seleccionar Imagen</button>
              </ion-item>
        </div>
        <hr>
        <div *ngIf="guardando">
          <progress *ngIf="porcentajeImagen > 0 && porcentajeImagen < 100" class="progress is-large is-success" value="{{porcentajeImagen}}" max="100">{{porcentajeImagen}}%</progress>
          <button [ngClass]="{'button': true, 'is-success': true, 'is-large': true, 'is-loading': porcentajeImagen > 0 && porcentajeImagen < 100}" [disabled]="!archivoForm.valid && (porcentajeImagen > 0 && porcentajeImagen < 100)">Grabar imagen</button>
        </div>
    
      </form>

      <ion-row class="iconos">
        <ion-col>
         
    

               <button class="seleccionarImagenBotonIcon" ion-button color="primary" (click)="anterior()" clear small icon-start>
               
                <ion-icon name="arrow-back"></ion-icon>
                  </button> 

                  <button class="seleccionarImagenBotonIcon" ion-button color="primary" (click)="siguiente()" clear small icon-start>
                  
                    <ion-icon name="arrow-forward"></ion-icon>
                    
                   </button> 


                   <button class="seleccionarImagenBotonIcon" ion-button color="primary" (click)="reproduccirTodo()" clear small icon-start>
          
                    <ion-icon name="barcode"></ion-icon>
                     </button> 
              
        </ion-col>

        <ion-col>
         
         
   </ion-col>

        <ion-col>
          
       <button class="seleccionarImagenBotonIcon" ion-button color="primary" (click)="guardarValores()" clear small icon-start>
          
            <ion-icon name="create"></ion-icon>
             </button>
         
   </ion-col>
       
  
      </ion-row>


      <ion-grid *ngIf="guardando"  text-center>
        <ion-row>
          <ion-col class="colores" width-100 (click)="colores('#1F7C22')">
              <ion-badge class="num"> {{cantidadVerde}} </ion-badge>
          </ion-col>
     
        </ion-row>
    
        <ion-row>
          <ion-col class="coloresDos" width-25 (click)="colores('#F52525')">
              <ion-badge class="num"> {{cantidadRoja}} </ion-badge>
          </ion-col>
          
          <ion-col class="coloresTres" width-25 (click)="colores('#254DF5')">
              <ion-badge class="num"> {{cantidadAzul}} </ion-badge>
          </ion-col>
        
        </ion-row>
        <ion-row>
    
            <ion-col class="coloresCuatro" width-25 (click)="colores('#A20EBF')" >
                <ion-badge class="num"> {{cantidadMorado}} </ion-badge>
            </ion-col>
        
            <ion-col class="coloresCinco" width-25 (click)="colores('#E6F226')">
                <ion-badge class="num"> {{cantidadAmarillo}} </ion-badge>
            </ion-col>
          </ion-row>
    
  
      </ion-grid>     
      <audio [hidden]="true" controls id="audioElem" autoplay>
        su browser no soporta el  <code>audio</code>
      </audio>
  
      <ngx-audio-player #idplayer (click)="trackClick($event, idplayer)" [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false" 
    muted="muted" [displayPlaylist]="msaapDisplayPlayList" (trackEnded)="onEnded($event)"
        [displayVolumeControls]="msaapDisplayVolumeControls" [disablePositionSlider]="msaapDisablePositionSlider" 
        [displayArtist]="msaapDisplayArtist" [displayDuration]="msaapDisplayDuration"
        [expanded]="true"></ngx-audio-player> 
          <!-- </ion-card-content>
        </ion-card> -->
      </div>
      </div>
</ion-content>