<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>
      Caja
    </ion-title> -->
    <!-- [routerLink]="[menuItem.path]" -->
    <a>
      <i class="nc-icon Home"></i>
      <p>afn</p>
  </a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
