

<ion-content class="scrollbar scrollbar-primary">
  <div class="posicionInicial container">
    <div class="row">
      <div class="col-sm">
        <ion-card class="red" style="cursor: pointer;" (click)="irApage('eng-card')">
          <ion-card-header>
            <ion-card-title class="float-left text-white">Card</ion-card-title>
            <ion-icon class="float-right colorRed" name="american-football"></ion-icon>
          </ion-card-header>
          <hr>
          <ion-card-content>
            Crea carden la aplicación para poder dividir responsabilidades.
          </ion-card-content>
        </ion-card>
      </div>
      </div>


  </div>
  
 
 
 
</ion-content>
